<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492222292903-ds8ho2tij7au6m1r7nv6l8ga9ogbgne9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492222292903-ds8ho2tij7au6m1r7nv6l8ga9ogbgne9</string>
	<key>API_KEY</key>
	<string>AIzaSyAPEvmDejJCse-FoM799VB-HBYnYPwpK5M</string>
	<key>GCM_SENDER_ID</key>
	<string>492222292903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>build.milk.authentication.milkAuthenticationFrameworkExample</string>
	<key>PROJECT_ID</key>
	<string>test-project-e6c3f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-e6c3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492222292903:ios:ca211ac6ee82edfa410c82</string>
</dict>
</plist>